@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Racing";
  src: url("fonts/RacingSansOne-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  @apply w-full max-w-[390px] mx-auto rounded-xl overflow-auto;
  @apply shadow-2xl;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* animation Section */

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

.loading-text {
  animation: fadeInOut 1.2s infinite;
}

@keyframes backgroundChange {
  0% {
    background-color: #ff6a00;
  }

  50% {
    background-color: #ffa366;
  }

  100% {
    background-color: #ff6a00;
  }
}

.loading-background {
  animation: backgroundChange 2s infinite;
}

/* Cart animation */

.my-node-enter {
  opacity: 0;
}

.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.my-node-exit {
  opacity: 1;
}

.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
